<h1 id="tableLabel">Services & Sites</h1>

<p>This component demonstrates fetching data from the controller.</p>



<p *ngIf="!urls"><em>Loading...</em></p>

<div class="form_toggle">

  <div class="form_toggle-item item-1">
    <input id="fid-1" type="radio" name="radio" value="off" (click)="startAutoCheck('off')">
    <label for="fid-1">OFF</label>
  </div>
  <div class="form_toggle-item item-2">
    <input id="fid-2" type="radio" name="radio" value="on" (click)="startAutoCheck('on')" checked>
    <label for="fid-2">ON</label>
  </div>
  <label style="position: relative; left: 10px; resize: horizontal;">AutoCheck Services & Sites</label>
</div>

<div>
  <button style="margin:5px;" class="btn btn-primary" (click)="getUrlsFromFile('UrlsOfSites')">Load Urls Sites</button>
  <button style="margin:5px;" class="btn btn-primary" (click)="getUrlsFromFile('UrlsOfServices')">Load Urls Service</button>
</div>


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="urls">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Code</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let url of urls">
      <td>{{ url.nameSite }}</td>
      <td>{{ url.urlSite }}</td>
      <td>{{ url.code }}</td>
      <td>
        <img *ngIf="url.code == 200" src="assets/images/green.png" alt="Should be a green circle" style="width:50px">
        <img *ngIf="url.code != 200" src="assets/images/red.png" alt="Should be a red circle" style="width:50px">
      </td>
    </tr>
  </tbody>
</table>
