body {
}
.form_toggle {
  display: inline-block;
  overflow: hidden;
}

.form_toggle-item {
  float: left;
  display: inline-block;
}

.form_toggle-item input[type=radio] {
  display: none;
}

.form_toggle-item label {
  display: inline-block;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid #999;
  border-right: none;
  cursor: pointer;
  user-select: none;
  
}

.form_toggle .item-1 label {
  border-radius: 6px 0 0 6px;
 }

.form_toggle .item-2 label {
  border-radius: 0 6px 6px 0;
  border-right: 1px solid #999;
}

/* Checked */
.form_toggle .item-1 input[type=radio]:checked + label {
  background: #ffc5c5;
}

.form_toggle .item-2 input[type=radio]:checked + label {
  background: #bbffbb;
}
