<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter('cvcvcvcv')">Increment</button>
<br>

<label for="param">Parameter</label>
<input type="text" id="param" [(ngModel)]="paramText" />
<input type="button" value="Get Params" (click)="incrementCounter(paramText); onBackButtonClick()" [routerLink]="loan" />
<div>
  <input type="button" class="btn btn-primary" value="Geted Params" (click)="onBackButtonClick()" />
</div>


