<h1 id="tableLabel">Banks</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!banks"><em>Loading...</em></p>


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="banks">
  <thead>
    <tr>
      <th>BankId</th>
      <th>PublicName</th>
      <th>MFO</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bank of banks">
      <td>{{ bank.id }}</td>
      <td>{{ bank.publicName }}</td>
      <td>{{ bank.mfo }}</td>

    </tr>
  </tbody>
</table>
