<h1 id="tableLabel">Loans</h1>

<p>This component demonstrates fetching data from the server.</p>

<div>
  <label for="param">Status of Loan </label>
  <input type="text" id="param" [(ngModel)]="paramText" />
  <input type="button" value="Load Loans" (click)="getLoansOfStatus(paramText)" />
  <button class="btn btn-primary" (click)="getLoansOfStatus(paramText)">Load Loans</button>
</div>

<p *ngIf="!loans"><em>Loading...</em></p>


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="loans">
  <thead>
    <tr>
      <th>LoanId</th>
      <th>CreationDate</th>
      <th>Status</th>
      <th>Request_Id</th>
      <th>LastChangeDate</th>
      <th>CloseDate</th>
      <th>Returning</th>
      <th>PublicId</th>
      <th>System</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loan of loans">
      <td>{{ loan.id }}</td>
      <td>{{ loan.creationDate }}</td>
      <td>{{ loan.status }}</td>
      <td>{{ loan.request_Id }}</td>
      <td>{{ loan.lastChangeDate }}</td>
      <td>{{ loan.closeDate }}</td>
      <td>{{ loan.returning }}</td>
      <td>{{ loan.publicId }}</td>
      <td>{{ loan.system }}</td>

    </tr>
  </tbody>
</table>
