<h1>Hello, Support!</h1>
<p>Welcome to your new single-page application, with tools:</p>

<p><a [routerLink]="['/bank']">Banks</a></p>
<p><a [routerLink]="['/loan']">Loans</a></p>
<p><a [routerLink]="['/myurls']">Services & Sites</a></p>





